Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false # Disable the default combined project
      backend:
        flags:
          - backend # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "frontend/customer/src"
    patch:
      default: false # Disable the default combined patch
      backend:
        flags:
          - backend
        target: 75%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer
        target: 75%
        paths:
          - "frontend/customer/src"

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend-customer:
    paths:
      - frontend/customer/src/
    carryforward: true

ignore:
  - "frontend/admin/**/*"
  - "backend/node_modules/**/*"
  - "backend/dist/**/*"
  - "backend/test/**/*"
  - "backend/coverage/**/*"
  - "backend/**/*.spec.ts"
  - "backend/**/*.test.ts"
  - "backend/src/config/**/*"
  - "frontend/customer/node_modules/**/*"
  - "frontend/customer/dist/**/*"
  - "frontend/customer/coverage/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Fix issue
  backend/src/database/seeds/create-sample-bookings.seed.spec.ts
Due: none

Remove cache-related dependencies from backend
  backend/package.json
Due: none

Remove unused devDependencies from backend/package.json
  backend/package.json
Due: none

Remove config index barrel file
  backend/src/config/index.ts
Due: none

Remove CreateEmployeeResponse interface
  backend/src/employees/dto/create-employee.dto.ts
Due: backend

Use string relation for Employee in Service
  backend/src/services/entities/service.entity.ts
Due: backend

Add SharedModule for TypeORM entities
  backend/src/shared/shared.module.ts
Due: backend

Use SharedModule in bookings; remove TypeORM import
  backend/src/bookings/bookings.module.ts
Due: backend

Replace TypeOrm entities with SharedModule import
  backend/src/employees/employees.module.ts
Due: backend

Remove BookingsModule dependency from EmployeesModule
  backend/src/employees/employees.module.ts
Due: backend

Use SharedModule in OrdersModule
  backend/src/orders/orders.module.ts
Due: backend

Remove forwardRef and import OrdersModule
  backend/src/bookings/bookings.module.ts
Due: backend

Refactor module tests to mock Shared/Employees
  backend/pnpm-lock.yaml
  backend/src/bookings/bookings.module.spec.ts
  backend/src/main.spec.ts
  backend/src/orders/orders.module.spec.ts
Due: none

Refactor sample bookings seed and add helpers
  backend/src/database/seeds/create-sample-bookings.seed.ts
Due: backend

Refactor sample orders seeding into helpers
  backend/src/database/seeds/create-sample-orders.seed.ts
Due: backend

Separate order save and booking status update
  backend/src/database/seeds/create-sample-orders.seed.ts
Due: backend

Add error handling to sample bookings seed
  backend/src/database/seeds/create-sample-bookings.seed.ts
Due: backend

Refactor spec mocks and add typings in seeds
  backend/src/bookings/bookings.service.spec.ts
  backend/src/database/seeds/create-sample-bookings.seed.ts
  backend/src/database/seeds/create-sample-orders.seed.ts
  backend/src/orders/orders.module.spec.ts
Due: backend

Remove redundant casts and simplify guards
  backend/src/auth/auth.controller.ts
  backend/src/auth/decorators/get-user.decorator.spec.ts
  backend/src/auth/guards/roles.guard.ts
  backend/src/bookings/bookings.controller.ts
  backend/src/bookings/bookings.service.ts
  backend/src/employees/employees.controller.spec.ts
  backend/src/employees/employees.service.ts
  backend/src/orders/orders.controller.spec.ts
  backend/src/orders/orders.service.ts
  backend/src/shops/shops.service.spec.ts
  backend/src/users/users.service.ts
Due: backend

Remove unused imports from backend files
  backend/src/auth/decorators/get-user.decorator.spec.ts
  backend/src/bookings/bookings.controller.ts
  backend/src/bookings/bookings.service.spec.ts
Due: backend

Improve type safety and explicit returns
  backend/src/auth/guards/roles.guard.ts
  backend/src/bookings/bookings.service.spec.ts
  backend/src/bookings/bookings.service.ts
  backend/src/database/seeds/create-sample-bookings.seed.ts
  backend/src/database/seeds/create-sample-orders.seed.ts
  backend/src/employees/employees.controller.spec.ts
  backend/src/employees/employees.service.ts
  backend/src/orders/orders.controller.spec.ts
  backend/src/orders/orders.module.spec.ts
  backend/src/orders/orders.service.ts
  backend/src/shared/shared.module.ts
  backend/src/users/users.service.ts
Due: backend

Validate faker selections and booking fetch
  backend/src/database/seeds/create-sample-bookings.seed.ts
  backend/src/database/seeds/create-sample-orders.seed.ts
Due: backend

Improve typings and tests in orders/bookings
  backend/src/bookings/bookings.service.spec.ts
  backend/src/orders/orders.module.spec.ts
  backend/src/orders/orders.service.ts
Due: backend

Refactor type casts in test specs
  backend/src/bookings/bookings.service.spec.ts
  backend/src/orders/orders.module.spec.ts
Due: none

Disable TypeScript unsafe checks in specs
  backend/src/bookings/bookings.service.spec.ts
  backend/src/orders/orders.module.spec.ts
Due: none

Refactor metadata retrieval in OrdersModule test
  backend/src/orders/orders.module.spec.ts
Due: none

Remove fallback in OrdersModule test
  backend/src/orders/orders.module.spec.ts
Due: none

Refactor EmployeesService tests with factories
  backend/src/employees/employees.service.spec.ts
Due: none

Tweak employee auth and display store/test fixes
  backend/src/employees/employees.controller.ts
  frontend/customer/src/stores/__tests__/display.spec.ts
  frontend/customer/src/stores/display.ts
  frontend/customer/src/views/TVDisplayView.vue
Due: backend, frontend-customer

Use spyOn for axios and adjust employee test
  backend/src/employees/employees.controller.spec.ts
  frontend/customer/src/stores/__tests__/display.spec.ts
Due: frontend-customer

Use vi.spyOn for axios.get in test
  frontend/customer/src/stores/__tests__/display.spec.ts
Due: frontend-customer

Assert specific error message in employee test
  backend/src/employees/employees.controller.spec.ts
Due: none

Remove unused import and tidy test formatting
  backend/src/employees/employees.controller.spec.ts
Due: none

Refactor backend config and service/guard logic
  backend/eslint.config.js
  backend/src/auth/guards/roles.guard.ts
  backend/src/database/seeds/create-initial-data.seed.ts
  backend/src/services/services.service.ts
Due: backend

Remove empty constructor in MockConfigService
  backend/src/app.module.spec.ts
Due: none

Simplify mock entity classes in tests
  backend/src/app.module.spec.ts
Due: none

Add id property to mocked entity classes in tests
  backend/src/app.module.spec.ts
Due: none

Replace MIT License with GNU AGPL v3
  LICENSE
Due: none
