Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false # Disable the default combined project
      backend:
        flags:
          - backend # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "frontend/customer/src"
    patch:
      default: false # Disable the default combined patch
      backend:
        flags:
          - backend
        target: 75%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer
        target: 75%
        paths:
          - "frontend/customer/src"

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend-customer:
    paths:
      - frontend/customer/src/
    carryforward: true

ignore:
  - "frontend/admin/**/*"
  - "backend/node_modules/**/*"
  - "backend/dist/**/*"
  - "backend/test/**/*"
  - "backend/coverage/**/*"
  - "backend/**/*.spec.ts"
  - "backend/**/*.test.ts"
  - "backend/src/config/**/*"
  - "frontend/customer/node_modules/**/*"
  - "frontend/customer/dist/**/*"
  - "frontend/customer/coverage/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Update tsconfig.json
  backend/tsconfig.json
Due: none

Update tsconfig.json
  frontend/admin/tsconfig.json
Due: none

Update tsconfig.app.json
  frontend/admin/tsconfig.app.json
Due: none

Update tsconfig.app.json
  frontend/customer/tsconfig.app.json
Due: none

Improve code and fix issues
  backend/src/database/seeds/create-initial-data.seed.spec.ts
  backend/src/database/seeds/create-services.seed.spec.ts
  backend/src/database/seeds/update-admin-password.seed.ts
  backend/src/employees/employees.service.ts
  frontend/admin/src/components/base/__tests__/Card.spec.ts
  frontend/admin/src/stores/employees.ts
  frontend/customer/src/components/__tests__/ServiceList.spec.ts
  frontend/customer/src/views/__tests__/TVDisplayView.spec.ts
Due: backend, frontend-customer

Update employees.service.ts
  backend/src/employees/employees.service.ts
Due: backend

.
  backend/src/database/seeds/create-initial-data.seed.spec.ts
  frontend/customer/src/views/__tests__/TVDisplayView.spec.ts
  frontend/customer/tsconfig.vitest.json
Due: frontend-customer

Fix code issues
  backend/src/database/seeds/create-initial-data.seed.spec.ts
Due: none

Fix issues
  backend/src/database/seeds/create-initial-data.seed.spec.ts
Due: none

Update create-initial-data.seed.spec.ts
  backend/src/database/seeds/create-initial-data.seed.spec.ts
Due: none

Fix Typescript error
  frontend/customer/src/views/__tests__/TVDisplayView.spec.ts
Due: frontend-customer

Fix Typescript error
  frontend/customer/src/components/__tests__/PaymentForm.spec.ts
Due: frontend-customer

Fix Typescript error
  frontend/admin/src/components/base/Button.vue
  frontend/admin/src/router/index.ts
  frontend/admin/tsconfig.app.json
Due: none

Fix Typescript error
  frontend/admin/src/components/base/Button.vue
Due: none

Fix issue
  frontend/customer/src/views/__tests__/TVDisplayView.spec.ts
Due: frontend-customer

Fix failing test
  frontend/admin/vite.config.ts
  frontend/admin/vitest.config.ts
  frontend/admin/vitest.setup.ts
Due: none

Compare with undefined
  frontend/admin/vitest.setup.ts
Due: none

Update booking.spec.ts
  frontend/customer/src/stores/__tests__/booking.spec.ts
Due: frontend-customer

Fix issues
  frontend/admin/src/stores/__tests__/auth.spec.ts
  frontend/admin/src/stores/auth.ts
  frontend/admin/src/stores/employees.ts
  frontend/admin/src/stores/orders.ts
  frontend/admin/vitest.setup.ts
Due: none

Fix issues
  frontend/admin/src/components/base/Button.vue
  frontend/customer/src/main.ts
  frontend/customer/src/stores/waiting.ts
Due: frontend-customer

Fix issues
  frontend/customer/src/stores/__tests__/waiting.spec.ts
  frontend/customer/src/stores/booking.ts
  frontend/customer/src/stores/services.ts
  frontend/customer/src/views/__tests__/TVDisplayView.spec.ts
Due: frontend-customer

Fix issues
  frontend/admin/vitest.setup.ts
Due: none

Fix issues
  frontend/admin/src/stores/auth.ts
  frontend/admin/src/stores/orders.ts
  frontend/customer/src/main.ts
Due: frontend-customer

Number.parseFloat
  frontend/admin/src/stores/orders.ts
Due: none

This assertion is unnecessary since it does not change the type of the expression.
  frontend/admin/vitest.setup.ts
Due: none

Compare with `undefined` directly instead of using `typeof`.
  frontend/admin/vitest.setup.ts
Due: none

Fix issue
  frontend/customer/src/main.ts
Due: frontend-customer

Fix array code style
  backend/src/auth/guards/jwt-auth.guard.spec.ts
  backend/src/orders/orders.module.spec.ts
Due: none

Fix array code style
  backend/src/users/users.module.spec.ts
Due: none

Fix array code style
  backend/src/auth/auth.module.spec.ts
  backend/src/bookings/bookings.module.spec.ts
  backend/src/database/seeds/create-services.seed.spec.ts
  backend/src/main.spec.ts
Due: none

Fix array code style
  backend/src/database/seeds/create-services.seed.spec.ts
Due: none

Fix eslint issues
  backend/src/auth/guards/jwt-auth.guard.spec.ts
  backend/src/database/seeds/create-services.seed.spec.ts
  backend/src/main.spec.ts
Due: none

Update bookings.module.spec.ts
  backend/src/bookings/bookings.module.spec.ts
Due: none

Fix issues
  backend/src/services/services.module.spec.ts
Due: none

Fix issues
  backend/src/database/seeds/create-sample-bookings.seed.spec.ts
Due: none

Fix issues
  backend/src/database/migrations/1731981975583-CreateOrders.spec.ts
Due: none

Fix issues
  backend/src/database/migrations/1731981975584-AddShopCodes.spec.ts
Due: none

Fix issues
  backend/src/auth/strategies/jwt.strategy.spec.ts
  backend/src/main.spec.ts
  backend/src/orders/orders.module.spec.ts
  backend/src/users/users.service.spec.ts
  frontend/admin/src/components/base/Button.vue
  frontend/admin/src/types/index.ts
Due: none

Fix issue
  backend/src/database/seeds/create-sample-bookings.seed.spec.ts
Due: none

Remove usesless constructor
  backend/src/app.module.spec.ts
Due: none
