Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false # Disable the default combined project
      backend:
        flags:
          - backend # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "frontend/customer/src"
    patch:
      default: false # Disable the default combined patch
      backend:
        flags:
          - backend
        target: 75%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer
        target: 75%
        paths:
          - "frontend/customer/src"

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend-customer:
    paths:
      - frontend/customer/src/
    carryforward: true

ignore:
  - "frontend/admin/**/*"
  - "backend/node_modules/**/*"
  - "backend/dist/**/*"
  - "backend/test/**/*"
  - "backend/coverage/**/*"
  - "backend/**/*.spec.ts"
  - "backend/**/*.test.ts"
  - "backend/src/config/**/*"
  - "frontend/customer/node_modules/**/*"
  - "frontend/customer/dist/**/*"
  - "frontend/customer/coverage/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Update create-sample-orders.seed.ts
  backend/src/database/seeds/create-sample-orders.seed.ts
Due: backend

Update run-seeds.ts
  backend/src/database/seeds/run-seeds.ts
Due: backend

Codacy
  backend/src/database/seeds/create-sample-orders.seed.ts
  backend/src/shops/shops.service.ts
Due: backend

Codacy
  backend/src/bookings/bookings.module.spec.ts
Due: none

Add pnpm onlyBuiltDependencies
  backend/package.json
  frontend/admin/package.json
  frontend/customer/package.json
Due: none

Delete .npmrc
  backend/.npmrc
  frontend/admin/.npmrc
  frontend/customer/.npmrc
Due: none

Update pnpm-lock.yaml
  frontend/customer/pnpm-lock.yaml
Due: none

ignoredBuiltDependencies
  backend/package.json
  frontend/customer/package.json
Due: none

Update package.json
  backend/package.json
Due: none

Create fix-type-errors.md
  plans/fix-type-errors.md
Due: none

Fix code quality issues
  backend/src/users/users.service.ts
Due: backend

Fix code quality issues
  backend/src/employees/employees.controller.ts
  backend/src/employees/employees.service.ts
Due: backend

Fix code quality issues
  backend/src/bookings/bookings.controller.ts
Due: backend

Fix code quality issues
  backend/src/bookings/bookings.service.ts
Due: backend

Fix code quality issues
  backend/src/orders/orders.service.ts
Due: backend

Fix code
  backend/src/auth/guards/roles.guard.ts
Due: backend

Fix code issues
  backend/src/employees/employees.controller.spec.ts
Due: none

Fix build error
  backend/package.json
Due: none

Fix code issue
  backend/src/orders/orders.controller.spec.ts
Due: none

Update .npmrc
  backend/.npmrc
Due: none

Pnpm 11
  backend/package.json
  frontend/admin/package.json
  frontend/customer/package.json
Due: none

Pnpm 11
  Dockerfile
Due: none

Create pnpm-workspace.yaml
  backend/pnpm-workspace.yaml
Due: none

Fix tests
  backend/src/bookings/bookings.service.spec.ts
  backend/src/employees/employees.controller.ts
  backend/src/orders/orders.controller.spec.ts
Due: backend

Create pnpm-workspace.yaml
  frontend/customer/pnpm-workspace.yaml
Due: none

Remove this unused import of 'UnauthorizedException'.
  backend/src/orders/orders.controller.spec.ts
Due: none

Fix use of any
  frontend/customer/src/components/__tests__/PaymentForm.spec.ts
  frontend/customer/src/stores/__tests__/booking.spec.ts
Due: frontend-customer

Remove unused import
  backend/src/bookings/bookings.service.ts
Due: backend

Update bookings.service.spec.ts
  backend/src/bookings/bookings.service.spec.ts
Due: none

Clean up
  backend/src/bookings/bookings.service.spec.ts
Due: none

Fix critical issues
  backend/src/database/migrations/1731981975582-CreateBookingSystem.spec.ts
Due: none

Fix issue
  backend/src/database/migrations/1731981975582-CreateBookingSystem.spec.ts
Due: none
