Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

Delete pnpm-lock.yaml
  backend/pnpm-lock.yaml
Due: none

Create pnpm-lock.yaml
  backend/pnpm-lock.yaml
Due: none

Update orders.service.spec.ts
  backend/src/orders/orders.service.spec.ts
Due: none

Fix test
  backend/src/bookings/bookings.controller.spec.ts
  backend/src/bookings/bookings.module.spec.ts
Due: none

Fix tests
  backend/src/app.module.spec.ts
  backend/src/bookings/bookings.module.spec.ts
Due: none

Update bookings.module.spec.ts
  backend/src/bookings/bookings.module.spec.ts
Due: none

Update README.md
  README.md
Due: none

Fix tests
  backend/src/bookings/bookings.module.spec.ts
Due: none

Live data for TV view
  backend/src/bookings/bookings.controller.ts
  backend/src/bookings/bookings.service.ts
  backend/src/bookings/dto/index.ts
  backend/src/bookings/dto/upcoming-count-response.dto.ts
  frontend/customer/package.json
  frontend/customer/pnpm-lock.yaml
  frontend/customer/src/stores/display.ts
  frontend/customer/src/views/TVDisplayView.vue
Due: backend, frontend-customer

Fix tests
  backend/src/bookings/bookings.controller.spec.ts
  backend/src/bookings/bookings.service.spec.ts
Due: none

Fix tests
  frontend/customer/src/stores/__tests__/display.spec.ts
  frontend/customer/src/stores/display.ts
  frontend/customer/src/views/__tests__/TVDisplayView.spec.ts
Due: frontend-customer

Fix tests
  frontend/customer/pnpm-lock.yaml
  frontend/customer/src/stores/__tests__/display.spec.ts
Due: frontend-customer

Create pnpm-lock.yaml
  frontend/customer/pnpm-lock.yaml
Due: none

Add tests
  backend/src/app.module.spec.ts
  backend/src/config/cache.config.spec.ts
Due: none

Update display.ts
  frontend/customer/src/stores/display.ts
Due: frontend-customer

Add more tests
  backend/src/bookings/bookings.service.spec.ts
  backend/src/config/cache.config.spec.ts
  frontend/customer/src/stores/__tests__/display.spec.ts
  frontend/customer/src/stores/display.ts
Due: frontend-customer

d
  frontend/customer/src/stores/display.ts
Due: frontend-customer

Fix TV display
  frontend/customer/src/stores/display.ts
Due: frontend-customer

Add tests
  backend/src/bookings/dto/index.spec.ts
  backend/src/bookings/dto/upcoming-count-response.dto.spec.ts
Due: none

Add test
  frontend/customer/src/stores/__tests__/display.spec.ts
  frontend/customer/src/stores/display.ts
  frontend/customer/src/views/TVDisplayView.vue
Due: frontend-customer

Employee management
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/employees/dto/create-employee.dto.ts
  backend/src/employees/dto/update-employee.dto.ts
  backend/src/employees/employees.controller.ts
  backend/src/employees/employees.module.ts
  backend/src/employees/employees.service.ts
  backend/src/users/enums/role.enum.ts
  frontend/admin/src/App.vue
  frontend/admin/src/router/index.ts
  frontend/admin/src/stores/employees.ts
  frontend/admin/src/stores/orders.ts
  frontend/admin/src/views/EmployeesView.vue
  frontend/admin/src/views/OrdersView.vue
Due: backend

Design employee
  backend/src/employees/employees.controller.ts
  backend/src/employees/employees.service.ts
  frontend/admin/src/views/EmployeesView.vue
Due: backend

Add filter for employee
  frontend/admin/src/views/OrdersView.vue
Due: none

More work on employees
  backend/src/employees/employees.controller.ts
  frontend/admin/src/components/OrdersChart.vue
Due: backend

Update EmployeesView.vue
  frontend/admin/src/views/EmployeesView.vue
Due: none

Add new employee
  backend/src/employees/employees.controller.ts
  backend/src/employees/employees.service.ts
  frontend/admin/src/stores/employees.ts
  frontend/admin/src/views/EmployeesView.vue
Due: backend

Password reset
  backend/src/employees/employees.controller.ts
  backend/src/employees/employees.service.ts
  frontend/admin/src/stores/employees.ts
  frontend/admin/src/views/EmployeesView.vue
Due: backend

Button
  frontend/admin/src/components/base/Button.vue
  frontend/admin/src/components/base/__tests__/Button.spec.ts
  frontend/admin/src/types/components/button.ts
  frontend/admin/src/types/components/index.ts
  frontend/admin/src/views/DashboardView.vue
Due: none

Update DashboardView.vue
  frontend/admin/src/views/DashboardView.vue
Due: none

Duplicate services
  backend/src/database/migrations/1732677001699-RemoveDuplicateServices.ts
  backend/src/database/seeds/create-services.seed.ts
Due: backend

Buttons
  frontend/admin/src/App.vue
  frontend/admin/src/components/BookingEditModal.vue
  frontend/admin/src/views/BookingsView.vue
  frontend/admin/src/views/DashboardView.vue
  frontend/admin/src/views/EmployeesView.vue
  frontend/admin/src/views/OrdersView.vue
Due: none

Button
  frontend/admin/src/components/BookingDetailsModal.vue
Due: none

Show bookings
  frontend/admin/src/views/BookingsView.vue
Due: none

Fix services
  backend/src/database/migrations/1732677212115-CleanupDuplicateServices.ts
  backend/src/database/scripts/cleanup-services.ts
Due: backend

Create Card.vue
  frontend/admin/src/components/base/Card.vue
Due: none

Live view of orders and bookings
  frontend/admin/src/types/components/index.ts
  frontend/admin/src/views/BookingsView.vue
  frontend/customer/src/components/WaitingTimeDisplay.vue
Due: frontend-customer

Fix frontend tests
  frontend/admin/src/components/base/Card.vue
  frontend/admin/src/components/base/__tests__/Card.spec.ts
  frontend/admin/src/stores/auth.ts
Due: none

Fix login
  frontend/admin/src/stores/auth.ts
Due: none

Path conditions:
  backend: any of: backend/src/, but not: frontend/admin/**/*, backend/node_modules/**/*, backend/dist/**/*, backend/test/**/*, backend/coverage/**/*, backend/**/*.spec.ts, backend/**/*.test.ts, backend/src/config/**/*, frontend/customer/node_modules/**/*, frontend/customer/dist/**/*, frontend/customer/coverage/**/*
  frontend-customer: any of: frontend/customer/src/, but not: frontend/admin/**/*, backend/node_modules/**/*, backend/dist/**/*, backend/test/**/*, backend/coverage/**/*, backend/**/*.spec.ts, backend/**/*.test.ts, backend/src/config/**/*, frontend/customer/node_modules/**/*, frontend/customer/dist/**/*, frontend/customer/coverage/**/*
