Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false # Disable the default combined project
      backend:
        flags:
          - backend # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "frontend/customer/src"
    patch:
      default: false # Disable the default combined patch
      backend:
        flags:
          - backend
        target: 75%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer
        target: 75%
        paths:
          - "frontend/customer/src"

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend-customer:
    paths:
      - frontend/customer/src/
    carryforward: true

ignore:
  - "frontend/admin/**/*"
  - "backend/node_modules/**/*"
  - "backend/dist/**/*"
  - "backend/test/**/*"
  - "backend/coverage/**/*"
  - "backend/**/*.spec.ts"
  - "backend/**/*.test.ts"
  - "backend/src/config/**/*"
  - "frontend/customer/node_modules/**/*"
  - "frontend/customer/dist/**/*"
  - "frontend/customer/coverage/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Use nullish coalescing for PORT and type error
  backend/src/main.ts
Due: backend

Update jwt.config.ts
  backend/src/config/jwt.config.ts
Due: none

Update env.d.ts
  frontend/admin/src/env.d.ts
Due: none

Update shops.service.ts
  backend/src/shops/shops.service.ts
Due: backend

Update shops.service.spec.ts
  backend/src/shops/shops.service.spec.ts
Due: none

Update orders.service.ts
  backend/src/orders/orders.service.ts
Due: backend

Update user.entity.ts
  backend/src/users/entities/user.entity.ts
Due: backend

Update run-seeds.ts
  backend/src/database/seeds/run-seeds.ts
Due: backend

Use unknown cast for mock repos in seed test
  backend/src/database/seeds/create-sample-orders.seed.spec.ts
Due: none

Update create-sample-orders.seed.ts
  backend/src/database/seeds/create-sample-orders.seed.ts
Due: backend

Update create-sample-bookings.seed.ts
  backend/src/database/seeds/create-sample-bookings.seed.ts
Due: backend

Update create-initial-data.seed.spec.ts
  backend/src/database/seeds/create-initial-data.seed.spec.ts
Due: none

Update run-seeds.spec.ts
  backend/src/database/seeds/run-seeds.spec.ts
Due: none

Update service.entity.ts
  backend/src/services/entities/service.entity.ts
Due: backend

Update bookings.module.spec.ts
  backend/src/bookings/bookings.module.spec.ts
Due: none

Remove employee null-check in access guard
  backend/src/employees/employees.controller.ts
Due: backend

Update eslint.config.js
  backend/eslint.config.js
Due: none

Update auth.service.ts
  backend/src/auth/auth.service.ts
Due: backend

Update app.module.spec.ts
  backend/src/app.module.spec.ts
Due: none

Update employees.controller.spec.ts
  backend/src/employees/employees.controller.spec.ts
Due: none

Update auth.module.spec.ts
  backend/src/auth/auth.module.spec.ts
Due: none

Update employees.controller.ts
  backend/src/employees/employees.controller.ts
Due: backend

Fix
  backend/src/main.spec.ts
  frontend/customer/src/views/__tests__/TVDisplayView.spec.ts
Due: frontend-customer

Update auth.spec.ts
  frontend/admin/src/stores/__tests__/auth.spec.ts
Due: none

Update WaitingTimeDisplay.spec.ts
  frontend/customer/src/components/__tests__/WaitingTimeDisplay.spec.ts
Due: frontend-customer

Codacy
  backend/src/bookings/bookings.module.spec.ts
Due: none

Codacy
  backend/src/database/seeds/create-sample-orders.seed.ts
Due: backend

Codacy
  backend/src/database/seeds/run-seeds.ts
Due: backend
