Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false # Disable the default combined project
      backend:
        flags:
          - backend # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "frontend/customer/src"
    patch:
      default: false # Disable the default combined patch
      backend:
        flags:
          - backend
        target: 75%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer
        target: 75%
        paths:
          - "frontend/customer/src"

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend-customer:
    paths:
      - frontend/customer/src/
    carryforward: true

ignore:
  - "frontend/admin/**/*"
  - "backend/node_modules/**/*"
  - "backend/dist/**/*"
  - "backend/test/**/*"
  - "backend/coverage/**/*"
  - "backend/**/*.spec.ts"
  - "backend/**/*.test.ts"
  - "backend/src/config/**/*"
  - "frontend/customer/node_modules/**/*"
  - "frontend/customer/dist/**/*"
  - "frontend/customer/coverage/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Update ISSUES.md
  ISSUES.md
Due: none

Fix issues
  backend/src/auth/guards/jwt-auth.guard.ts
  backend/src/auth/strategies/jwt.strategy.ts
  backend/src/bookings/bookings.controller.ts
  backend/src/bookings/bookings.service.spec.ts
Due: backend

Fix issues
  backend/src/auth/strategies/jwt.strategy.ts
  backend/src/bookings/bookings.controller.ts
Due: backend

Fix issues
  backend/src/auth/guards/jwt-auth.guard.spec.ts
  backend/src/bookings/bookings.service.spec.ts
Due: none

Update jwt.strategy.spec.ts
  backend/src/auth/strategies/jwt.strategy.spec.ts
Due: none

Fix imports
  backend/src/auth/guards/jwt-auth.guard.spec.ts
  backend/src/auth/strategies/jwt.strategy.spec.ts
Due: none

Fix issues
  backend/src/auth/guards/jwt-auth.guard.spec.ts
  backend/src/auth/strategies/jwt.strategy.spec.ts
  backend/src/bookings/bookings.service.spec.ts
  backend/src/database/seeds/create-sample-bookings.seed.ts
  backend/src/database/seeds/create-sample-orders.seed.ts
Due: backend

Update bookings.service.spec.ts
  backend/src/bookings/bookings.service.spec.ts
Due: none

Delete jwt-auth.guard.spec.ts
  backend/src/auth/guards/jwt-auth.guard.spec.ts
Due: none

Create CRITICAL.md
  CRITICAL.md
Due: none

Refactor
  backend/src/auth/auth.service.ts
  backend/src/auth/strategies/jwt.strategy.ts
Due: backend

Update bookings.controller.spec.ts
  backend/src/bookings/bookings.controller.spec.ts
Due: none

Update 1731981975581-InitialMigration.spec.ts
  backend/src/database/migrations/1731981975581-InitialMigration.spec.ts
Due: none

Update 1731981975581-InitialMigration.ts
  backend/src/database/migrations/1731981975581-InitialMigration.ts
Due: backend

Fix issues
  ISSUES.md
  backend/src/bookings/bookings.controller.spec.ts
Due: none

Update jwt.strategy.ts
  backend/src/auth/strategies/jwt.strategy.ts
Due: backend

Fix issues
  backend/src/database/migrations/1731981975581-InitialMigration.spec.ts
  backend/src/database/migrations/1731981975581-InitialMigration.ts
Due: backend

Fix issues
  backend/src/database/migrations/1731981975583-CreateOrders.spec.ts
Due: none

Fix issues
  ISSUES.md
  backend/src/database/migrations/1731981975583-CreateOrders.ts
Due: backend

Fix issues
  ISSUES.md
  backend/src/database/migrations/1731981975584-AddShopCodes.spec.ts
Due: none

Fix issues
  ISSUES.md
  backend/src/database/seeds/create-initial-data.seed.spec.ts
  backend/src/database/seeds/create-initial-data.seed.ts
Due: backend

Fix issues
  ISSUES.md
  backend/src/database/seeds/create-sample-bookings.seed.spec.ts
  backend/src/database/seeds/run-seeds.spec.ts
  backend/src/database/seeds/run-seeds.ts
Due: backend

Fix issues
  backend/src/database/migrations/1731981975582-CreateBookingSystem.spec.ts
Due: none

Fix issues
  CRITICAL.md
  backend/src/database/migrations/1731981975582-CreateBookingSystem.spec.ts
Due: none

Update create-initial-data.seed.spec.ts
  backend/src/database/seeds/create-initial-data.seed.spec.ts
Due: none

Update 1731981975582-CreateBookingSystem.spec.ts
  backend/src/database/migrations/1731981975582-CreateBookingSystem.spec.ts
Due: none

Fix issue
  backend/src/shops/guards/shop-code.guard.spec.ts
Due: none

Update CRITICAL.md
  CRITICAL.md
Due: none

Fix issue
  frontend/customer/src/stores/__tests__/booking.spec.ts
  frontend/customer/src/stores/types.ts
Due: frontend-customer
