Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

Fix tests
  frontend/admin/src/views/__tests__/DashboardView.spec.ts
Due: none

Fix test
  frontend/admin/src/stores/__tests__/auth.spec.ts
  frontend/admin/src/stores/auth.ts
Due: none

Place order
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/strategies/jwt.strategy.ts
  backend/src/bookings/bookings.controller.ts
  backend/src/bookings/bookings.module.ts
  backend/src/bookings/bookings.service.ts
  backend/src/bookings/dto/create-walk-in-booking.dto.ts
  backend/src/database/migrations/1731981975584-AddShopCodes.ts
  backend/src/shops/entities/shop-code.entity.ts
  backend/src/shops/guards/shop-code.guard.ts
  backend/src/shops/shops.module.ts
  backend/src/shops/shops.service.ts
  backend/typeorm.config.ts
  frontend/customer/src/components/BookingForm.vue
  frontend/customer/src/components/PaymentForm.vue
  frontend/customer/src/stores/booking.ts
Due: backend, frontend-customer

Finish payment
  backend/src/bookings/bookings.service.ts
  backend/src/orders/orders.service.ts
Due: backend

Fix tests
  frontend/customer/src/components/__tests__/PaymentForm.spec.ts
  frontend/customer/src/components/__tests__/WaitingTimeDisplay.spec.ts
  frontend/customer/src/stores/__tests__/booking.spec.ts
Due: frontend-customer

Fix test
  frontend/customer/src/components/__tests__/BookingForm.spec.ts
Due: frontend-customer

Fix test
  frontend/customer/src/components/__tests__/PaymentForm.spec.ts
  frontend/customer/src/components/__tests__/WaitingTimeDisplay.spec.ts
Due: frontend-customer

Update PaymentForm.spec.ts
  frontend/customer/src/components/__tests__/PaymentForm.spec.ts
Due: frontend-customer

Fix test
  frontend/customer/src/components/__tests__/PaymentForm.spec.ts
Due: frontend-customer

Update packages
  backend/package.json
  backend/pnpm-lock.yaml
Due: none

Fix test
  backend/src/bookings/bookings.controller.spec.ts
Due: none

Fix test
  backend/src/employees/employees.service.spec.ts
Due: none

Fix test
  backend/src/app.module.spec.ts
Due: none

Update app.module.spec.ts
  backend/src/app.module.spec.ts
Due: none

Fix test
  backend/src/bookings/bookings.module.spec.ts
Due: none

Fix test
  backend/src/auth/strategies/jwt.strategy.spec.ts
Due: none

Fix test
  backend/src/bookings/bookings.service.spec.ts
Due: none

Fix test
  backend/src/database/seeds/create-services.seed.spec.ts
Due: none

Add tests
  backend/src/employees/dto/create-employee.dto.spec.ts
  backend/src/employees/employees.controller.spec.ts
  backend/src/employees/employees.service.spec.ts
Due: none

Add tests
  backend/src/employees/dto/create-employee.dto.spec.ts
  backend/src/employees/dto/update-employee.dto.spec.ts
Due: none

Remove scripts
  backend/src/database/migrations/1732677001699-RemoveDuplicateServices.ts
  backend/src/database/migrations/1732677212115-CleanupDuplicateServices.ts
  backend/src/database/scripts/cleanup-services.ts
Due: backend

Add tests
  backend/src/shops/shops.module.spec.ts
  backend/src/shops/shops.service.spec.ts
Due: none

Add test
  backend/src/shops/guards/shop-code.guard.spec.ts
Due: none

Delete pnpm-lock.yaml
  frontend/customer/pnpm-lock.yaml
Due: none

Create pnpm-lock.yaml
  frontend/customer/pnpm-lock.yaml
Due: none

Update WaitingTimeDisplay.vue
  frontend/customer/src/components/WaitingTimeDisplay.vue
Due: frontend-customer

Update pnpm-lock.yaml
  backend/pnpm-lock.yaml
Due: none

Delete pnpm-lock.yaml
  backend/pnpm-lock.yaml
Due: none

Create pnpm-lock.yaml
  backend/pnpm-lock.yaml
Due: none

Delete pnpm-lock.yaml
  frontend/admin/pnpm-lock.yaml
Due: none

Norwegian translation
  frontend/admin/pnpm-lock.yaml
  frontend/admin/src/views/LoginView.vue
Due: none

A11y and aria
  frontend/admin/src/views/LoginView.vue
Due: none

Norwegian translation
  frontend/admin/src/stores/auth.ts
  frontend/admin/src/views/LoginView.vue
Due: none

Employee login
  backend/src/main.ts
  frontend/admin/src/stores/auth.ts
Due: backend

Employee login
  backend/src/auth/decorators/get-user.decorator.ts
  backend/src/bookings/bookings.module.ts
  backend/src/employees/dto/create-employee.dto.ts
  backend/src/employees/dto/index.ts
  backend/src/employees/dto/update-employee.dto.ts
  backend/src/employees/employees.controller.ts
  backend/src/employees/employees.module.ts
  backend/src/employees/employees.service.ts
  backend/src/orders/orders.controller.ts
  backend/src/orders/orders.module.ts
  backend/src/orders/orders.service.ts
  frontend/admin/src/App.vue
  frontend/admin/src/router/index.ts
  frontend/admin/src/stores/auth.ts
  frontend/admin/src/stores/orders.ts
  frontend/admin/src/views/OrdersView.vue
Due: backend

Update auth.spec.ts
  frontend/admin/src/stores/__tests__/auth.spec.ts
Due: none

Update main.spec.ts
  backend/src/main.spec.ts
Due: none

Fix test
  backend/src/employees/employees.service.spec.ts
  backend/src/employees/employees.service.ts
  backend/src/main.spec.ts
Due: backend

Path conditions:
  backend: any of: backend/src/, but not: frontend/admin/**/*, backend/node_modules/**/*, backend/dist/**/*, backend/test/**/*, backend/coverage/**/*, backend/**/*.spec.ts, backend/**/*.test.ts, backend/src/config/**/*, frontend/customer/node_modules/**/*, frontend/customer/dist/**/*, frontend/customer/coverage/**/*
  frontend-customer: any of: frontend/customer/src/, but not: frontend/admin/**/*, backend/node_modules/**/*, backend/dist/**/*, backend/test/**/*, backend/coverage/**/*, backend/**/*.spec.ts, backend/**/*.test.ts, backend/src/config/**/*, frontend/customer/node_modules/**/*, frontend/customer/dist/**/*, frontend/customer/coverage/**/*
