Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false # Disable the default combined project
      backend:
        flags:
          - backend # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer # Match the flag from your GitHub Action
        target: 75%
        threshold: 1%
        paths:
          - "frontend/customer/src"
    patch:
      default: false # Disable the default combined patch
      backend:
        flags:
          - backend
        target: 75%
        paths:
          - "backend/src"
      frontend:
        flags:
          - frontend-customer
        target: 75%
        paths:
          - "frontend/customer/src"

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend-customer:
    paths:
      - frontend/customer/src/
    carryforward: true

ignore:
  - "frontend/admin/**/*"
  - "backend/node_modules/**/*"
  - "backend/dist/**/*"
  - "backend/test/**/*"
  - "backend/coverage/**/*"
  - "backend/**/*.spec.ts"
  - "backend/**/*.test.ts"
  - "backend/src/config/**/*"
  - "frontend/customer/node_modules/**/*"
  - "frontend/customer/dist/**/*"
  - "frontend/customer/coverage/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Update README.md
  README.md
Due: none

Update types.ts
  frontend/customer/src/stores/types.ts
Due: frontend-customer

Update booking.spec.ts
  frontend/customer/src/stores/__tests__/booking.spec.ts
Due: frontend-customer

Fix issue
  frontend/customer/src/stores/__tests__/services.spec.ts
  frontend/customer/src/stores/types.ts
Due: frontend-customer

Update CRITICAL.md
  CRITICAL.md
Due: none

readonly
  backend/src/auth/strategies/jwt.strategy.ts
Due: backend

Update services.ts
  frontend/customer/src/stores/services.ts
Due: frontend-customer

Fix test
  frontend/customer/src/stores/services.ts
Due: frontend-customer

Fix use of any
  backend/src/bookings/bookings.service.spec.ts
Due: none

Cleanup
  backend/src/bookings/bookings.service.spec.ts
Due: none

Eslint
  backend/eslint.config.js
  backend/package.json
  backend/src/bookings/bookings.service.spec.ts
Due: none

Eslint
  backend/src/app.module.spec.ts
Due: none

Eslint fix
  backend/src/app.module.spec.ts
  backend/src/auth/auth.module.spec.ts
Due: none

Eslint
  backend/src/database/migrations/1732141970009-ClearServices.spec.ts
Due: none

Eslint
  backend/src/users/users.service.spec.ts
Due: none

Fix test
  backend/src/app.module.spec.ts
  backend/src/users/users.module.spec.ts
Due: none

Eslint
  backend/src/shops/guards/shop-code.guard.ts
Due: backend

Fix Eslint issue
  backend/src/shops/guards/shop-code.guard.spec.ts
Due: none

Update ISSUES.md
  ISSUES.md
Due: none

Fix issue
  backend/src/database/migrations/1732141970009-ClearServices.spec.ts
Due: none

Fix nesting
  backend/src/database/migrations/1732141970009-ClearServices.spec.ts
Due: none

Update eslint.config.js
  backend/eslint.config.js
Due: none

Fix eslint
  backend/src/services/services.service.spec.ts
Due: none

Update app.module.spec.ts
  backend/src/app.module.spec.ts
Due: none

Cleanup
  backend/src/app.module.spec.ts
Due: none

employeeBookings.toSorted
  backend/src/bookings/bookings.service.ts
Due: backend

Fix issues
  backend/src/bookings/bookings.service.ts
Due: backend

Fix assertion
  backend/src/database/migrations/1731981975582-CreateBookingSystem.spec.ts
Due: none

Eslint
  backend/src/services/services.module.spec.ts
Due: none

Optional chaining
  backend/src/database/migrations/1731981975583-CreateOrders.spec.ts
Due: none

Eslint
  backend/src/database/migrations/1731981975583-CreateOrders.spec.ts
Due: none

Eslint
  backend/src/auth/decorators/roles.decorator.ts
  backend/src/auth/guards/jwt-auth.guard.ts
  backend/src/auth/strategies/jwt.strategy.spec.ts
  backend/src/database/seeds/create-admin-user.seed.spec.ts
  backend/src/main.ts
Due: backend

Update get-user.decorator.ts
  backend/src/auth/decorators/get-user.decorator.ts
Due: backend

Update jwt-auth.guard.ts
  backend/src/auth/guards/jwt-auth.guard.ts
Due: backend

Update roles.guard.ts
  backend/src/auth/guards/roles.guard.ts
Due: backend

Update bookings.controller.ts
  backend/src/bookings/bookings.controller.ts
Due: backend
