Repository w3bdesign/frisorsalong-booking: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend-customer

Create pnpm-lock.yaml
  backend/pnpm-lock.yaml
Due: none

Upgrade @nestjs/cache-manager
  backend/package.json
  backend/pnpm-lock.yaml
Due: none

Pnpm install
  backend/pnpm-lock.yaml
  frontend/admin/pnpm-lock.yaml
Due: none

Remove deprecated imports
  frontend/admin/src/components/base/Button.vue
Due: none

Create .env.example
  frontend/admin/.env.example
Due: none

Update translation
  backend/src/auth/dto/register.dto.ts
  frontend/admin/src/stores/auth.ts
Due: backend

Fix translations
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/login.dto.ts
Due: backend

Update auth.service.ts
  backend/src/auth/auth.service.ts
Due: backend

Update .env.example
  frontend/admin/.env.example
Due: none

Fix test
  backend/src/auth/auth.service.spec.ts
Due: none

Refactor
  frontend/admin/src/stores/auth.ts
Due: none

Remove unused imports
  backend/src/auth/auth.service.spec.ts
Due: none

Fix test
  backend/src/auth/auth.service.ts
Due: backend

Fix TS
  frontend/admin/src/stores/auth.ts
Due: none

Remove unused import
  backend/src/auth/auth.service.spec.ts
Due: none

Fix test
  frontend/admin/src/views/__tests__/DashboardView.spec.ts
Due: none

Improve auth
  frontend/admin/src/stores/auth.ts
Due: none

Update auth.ts
  frontend/admin/src/stores/auth.ts
Due: none

Fix test
  frontend/admin/src/stores/__tests__/auth.spec.ts
  frontend/admin/src/stores/auth.ts
Due: none

Update auth.spec.ts
  frontend/admin/src/stores/__tests__/auth.spec.ts
Due: none

Prettier
  backend/src/services/services.service.ts
Due: backend

Void async
  frontend/customer/src/stores/waiting.ts
Due: frontend-customer

Change ES target
  frontend/customer/tsconfig.app.json
  frontend/customer/tsconfig.node.json
Due: none

Fix hardcoded url
  frontend/customer/src/stores/waiting.ts
Due: frontend-customer

Update waiting.ts
  frontend/customer/src/stores/waiting.ts
Due: frontend-customer

Reorder
  backend/src/app.module.ts
Due: backend

Upgrade Bcrypt
  backend/package.json
  backend/pnpm-lock.yaml
  backend/pnpm-workspace.yaml
Due: none

Delete pnpm-workspace.yaml
  backend/pnpm-workspace.yaml
Due: none

Update run-seeds.spec.ts
  backend/src/database/seeds/run-seeds.spec.ts
Due: none

Update jwt.strategy.spec.ts
  backend/src/auth/strategies/jwt.strategy.spec.ts
Due: none

Delete pnpm-lock.yaml
  backend/pnpm-lock.yaml
Due: none

Bcrypt
  backend/package.json
  backend/pnpm-lock.yaml
Due: none

Typeorm
  backend/package.json
  backend/pnpm-lock.yaml
Due: none

Delete run-seeds.spec.ts
  backend/src/database/seeds/run-seeds.spec.ts
Due: none

Revert "Delete run-seeds.spec.ts"
  backend/src/database/seeds/run-seeds.spec.ts
Due: none

Path conditions:
  backend: any of: backend/src/, but not: frontend/admin/**/*, backend/node_modules/**/*, backend/dist/**/*, backend/test/**/*, backend/coverage/**/*, backend/**/*.spec.ts, backend/**/*.test.ts, backend/src/config/**/*, frontend/customer/node_modules/**/*, frontend/customer/dist/**/*, frontend/customer/coverage/**/*
  frontend-customer: any of: frontend/customer/src/, but not: frontend/admin/**/*, backend/node_modules/**/*, backend/dist/**/*, backend/test/**/*, backend/coverage/**/*, backend/**/*.spec.ts, backend/**/*.test.ts, backend/src/config/**/*, frontend/customer/node_modules/**/*, frontend/customer/dist/**/*, frontend/customer/coverage/**/*
